aiofiles==24.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
atproto==0.0.59
attrs==25.1.0
audioop-lts==0.2.1
black==25.1.0
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
deprecation==2.1.0
discord==2.3.2
discord.py==2.5.2
dnspython==2.7.0
Flask==3.1.0
frozenlist==1.5.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
libipld==3.0.1
MarkupSafe==3.0.2
multidict==6.1.0
mypy-extensions==1.0.0
orjson==3.10.15
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
priority==2.0.0
propcache==0.3.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
python-dotenv==1.0.1
pytz==2025.1
Quart==0.20.0
requests==2.32.3
sniffio==1.3.1
truststore==0.10.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
websockets==13.1
Werkzeug==3.1.3
wsproto==1.2.0
xata==1.3.5
yarl==1.18.3
